.header {
  background-color: #0B0F1B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  h1 {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
   
  }
}

.signBtn {
  display: flex;
  gap: 40px;
}