.shortenlinks {
  background: linear-gradient(#E7568F, #3B4FD4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}